
/* pour centrer une image

voir https://mooc-forums.inria.fr/moocnsi/t/mkdocs-astuce-pour-centrer-une-image-en-markdown-pur/2831

![monimage](data/image.png){: .center width=50%}
*/

.center {
    display: block;
    margin: 0 auto;
}


.md-typeset div.arithmatex  {
    overflow: initial;
}

.md-typeset .admonition {
    font-size: 0.8rem;
}

.md-typeset details {
    font-size: 0.8rem;
}

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
}



:root {
    --md-admonition-icon--video: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.75 3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25v-8.5a.25.25 0 0 0-.25-.25H1.75zM0 3.75C0 2.784.784 2 1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 14H1.75A1.75 1.75 0 0 1 0 12.25v-8.5z"/><path d="M6 10.559V5.442a.25.25 0 0 1 .379-.215l4.264 2.559a.25.25 0 0 1 0 .428l-4.264 2.559A.25.25 0 0 1 6 10.559z"/></svg>')
  }
  .md-typeset .admonition.video,
  .md-typeset details.video {
    border-color: rgb(177, 75, 16);
  }
  .md-typeset .video > .admonition-title,
  .md-typeset .video > summary {
    background-color: rgba(43, 101, 155, 0.1);
    border-color: rgb(177, 75, 16);
  }
  .md-typeset .video > .admonition-title::before,
  .md-typeset .video > summary::before {
    background-color: rgb(177, 75, 16);
     animation: heart 1000ms infinite;
    -webkit-mask-image: var(--md-admonition-icon--video);
            mask-image: var(--md-admonition-icon--video);
  }

  :root {
    --md-admonition-icon--console: url('data:image/svg+xml;charset=utf-8,  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M6.22 3.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 0 1 0-1.06z"/></svg>')
  }
  .md-typeset .admonition.console,
  .md-typeset details.console{
    border-color: rgb(68, 138, 255);
  }
  .md-typeset .console > .admonition-title,
  .md-typeset .console > summary {
    background-color: rgba(43, 101, 155, 0.1);
    border-color: rgb(68, 138, 255);
  }
  .md-typeset .console > .admonition-title::before,
  .md-typeset .console > summary::before {
    background-color: rgb(68, 138, 255);
     animation: heart 1000ms infinite;
    -webkit-mask-image: var(--md-admonition-icon--console);
            mask-image: var(--md-admonition-icon--console);
  
  }


  :root {
    --md-admonition-icon--code: url('data:image/svg+xml;charset=utf-8,  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 1.75C4 .784 4.784 0 5.75 0h5.586c.464 0 .909.184 1.237.513l2.914 2.914c.329.328.513.773.513 1.237v8.586A1.75 1.75 0 0 1 14.25 15h-9a.75.75 0 0 1 0-1.5h9a.25.25 0 0 0 .25-.25V6h-2.75A1.75 1.75 0 0 1 10 4.25V1.5H5.75a.25.25 0 0 0-.25.25v2.5a.75.75 0 0 1-1.5 0v-2.5zm7.5-.188V4.25c0 .138.112.25.25.25h2.688a.252.252 0 0 0-.011-.013l-2.914-2.914a.272.272 0 0 0-.013-.011zM5.72 6.72a.75.75 0 0 0 0 1.06l1.47 1.47-1.47 1.47a.75.75 0 1 0 1.06 1.06l2-2a.75.75 0 0 0 0-1.06l-2-2a.75.75 0 0 0-1.06 0zM3.28 7.78a.75.75 0 0 0-1.06-1.06l-2 2a.75.75 0 0 0 0 1.06l2 2a.75.75 0 0 0 1.06-1.06L1.81 9.25l1.47-1.47z"/></svg>')
  }
  .md-typeset .admonition.code,
  .md-typeset details.code{
    border-color: rgb(68, 138, 255);
  }
  .md-typeset .code > .admonition-title,
  .md-typeset .code > summary {
    background-color: rgba(43, 101, 155, 0.1);
    border-color: rgb(68, 138, 255);
  }
  .md-typeset .code > .admonition-title::before,
  .md-typeset .code > summary::before {
    background-color: rgb(68, 138, 255);
     animation: heart 1000ms infinite;
    -webkit-mask-image: var(--md-admonition-icon--code);
            mask-image: var(--md-admonition-icon--code);
  
  }


  :root {
    --md-admonition-icon--console: url('data:image/svg+xml;charset=utf-8,  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 1.75C4 .784 4.784 0 5.75 0h5.586c.464 0 .909.184 1.237.513l2.914 2.914c.329.328.513.773.513 1.237v8.586A1.75 1.75 0 0 1 14.25 15h-9a.75.75 0 0 1 0-1.5h9a.25.25 0 0 0 .25-.25V6h-2.75A1.75 1.75 0 0 1 10 4.25V1.5H5.75a.25.25 0 0 0-.25.25v2.5a.75.75 0 0 1-1.5 0v-2.5zm7.5-.188V4.25c0 .138.112.25.25.25h2.688a.252.252 0 0 0-.011-.013l-2.914-2.914a.272.272 0 0 0-.013-.011zM5.72 6.72a.75.75 0 0 0 0 1.06l1.47 1.47-1.47 1.47a.75.75 0 1 0 1.06 1.06l2-2a.75.75 0 0 0 0-1.06l-2-2a.75.75 0 0 0-1.06 0zM3.28 7.78a.75.75 0 0 0-1.06-1.06l-2 2a.75.75 0 0 0 0 1.06l2 2a.75.75 0 0 0 1.06-1.06L1.81 9.25l1.47-1.47z"/></svg>')
  }
  .md-typeset .admonition.console,
  .md-typeset details.console{
    border-color: rgb(68, 138, 255);
  }
  .md-typeset .console > .admonition-title,
  .md-typeset .console > summary {
    background-color: rgba(43, 101, 155, 0.1);
    border-color: rgb(68, 138, 255);
  }
  .md-typeset .console > .admonition-title::before,
  .md-typeset .console > summary::before {
    background-color: rgb(68, 138, 255);
     animation: heart 1000ms infinite;
    -webkit-mask-image: var(--md-admonition-icon--console);
            mask-image: var(--md-admonition-icon--console);
  
  }


  :root {
    --md-admonition-icon--ide: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0zm-1.5 0a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/><path fill-rule="evenodd" d="M12 1c-.268 0-.534.01-.797.028-.763.055-1.345.617-1.512 1.304l-.352 1.45c-.02.078-.09.172-.225.22a8.45 8.45 0 0 0-.728.303c-.13.06-.246.044-.315.002l-1.274-.776c-.604-.368-1.412-.354-1.99.147-.403.348-.78.726-1.129 1.128-.5.579-.515 1.387-.147 1.99l.776 1.275c.042.069.059.185-.002.315-.112.237-.213.48-.302.728-.05.135-.143.206-.221.225l-1.45.352c-.687.167-1.249.749-1.304 1.512a11.149 11.149 0 0 0 0 1.594c.055.763.617 1.345 1.304 1.512l1.45.352c.078.02.172.09.22.225.09.248.191.491.303.729.06.129.044.245.002.314l-.776 1.274c-.368.604-.354 1.412.147 1.99.348.403.726.78 1.128 1.129.579.5 1.387.515 1.99.147l1.275-.776c.069-.042.185-.059.315.002.237.112.48.213.728.302.135.05.206.143.225.221l.352 1.45c.167.687.749 1.249 1.512 1.303a11.125 11.125 0 0 0 1.594 0c.763-.054 1.345-.616 1.512-1.303l.352-1.45c.02-.078.09-.172.225-.22.248-.09.491-.191.729-.303.129-.06.245-.044.314-.002l1.274.776c.604.368 1.412.354 1.99-.147.403-.348.78-.726 1.129-1.128.5-.579.515-1.387.147-1.99l-.776-1.275c-.042-.069-.059-.185.002-.315.112-.237.213-.48.302-.728.05-.135.143-.206.221-.225l1.45-.352c.687-.167 1.249-.749 1.303-1.512a11.125 11.125 0 0 0 0-1.594c-.054-.763-.616-1.345-1.303-1.512l-1.45-.352c-.078-.02-.172-.09-.22-.225a8.469 8.469 0 0 0-.303-.728c-.06-.13-.044-.246-.002-.315l.776-1.274c.368-.604.354-1.412-.147-1.99-.348-.403-.726-.78-1.128-1.129-.579-.5-1.387-.515-1.99-.147l-1.275.776c-.069.042-.185.059-.315-.002a8.465 8.465 0 0 0-.728-.302c-.135-.05-.206-.143-.225-.221l-.352-1.45c-.167-.687-.749-1.249-1.512-1.304A11.149 11.149 0 0 0 12 1zm-.69 1.525a9.648 9.648 0 0 1 1.38 0c.055.004.135.05.162.16l.351 1.45c.153.628.626 1.08 1.173 1.278.205.074.405.157.6.249a1.832 1.832 0 0 0 1.733-.074l1.275-.776c.097-.06.186-.036.228 0 .348.302.674.628.976.976.036.042.06.13 0 .228l-.776 1.274a1.832 1.832 0 0 0-.074 1.734c.092.195.175.395.248.6.198.547.652 1.02 1.278 1.172l1.45.353c.111.026.157.106.161.161a9.653 9.653 0 0 1 0 1.38c-.004.055-.05.135-.16.162l-1.45.351a1.833 1.833 0 0 0-1.278 1.173 6.926 6.926 0 0 1-.25.6 1.832 1.832 0 0 0 .075 1.733l.776 1.275c.06.097.036.186 0 .228a9.555 9.555 0 0 1-.976.976c-.042.036-.13.06-.228 0l-1.275-.776a1.832 1.832 0 0 0-1.733-.074 6.926 6.926 0 0 1-.6.248 1.833 1.833 0 0 0-1.172 1.278l-.353 1.45c-.026.111-.106.157-.161.161a9.653 9.653 0 0 1-1.38 0c-.055-.004-.135-.05-.162-.16l-.351-1.45a1.833 1.833 0 0 0-1.173-1.278 6.928 6.928 0 0 1-.6-.25 1.832 1.832 0 0 0-1.734.075l-1.274.776c-.097.06-.186.036-.228 0a9.56 9.56 0 0 1-.976-.976c-.036-.042-.06-.13 0-.228l.776-1.275a1.832 1.832 0 0 0 .074-1.733 6.948 6.948 0 0 1-.249-.6 1.833 1.833 0 0 0-1.277-1.172l-1.45-.353c-.111-.026-.157-.106-.161-.161a9.648 9.648 0 0 1 0-1.38c.004-.055.05-.135.16-.162l1.45-.351a1.833 1.833 0 0 0 1.278-1.173 6.95 6.95 0 0 1 .249-.6 1.832 1.832 0 0 0-.074-1.734l-.776-1.274c-.06-.097-.036-.186 0-.228.302-.348.628-.674.976-.976.042-.036.13-.06.228 0l1.274.776a1.832 1.832 0 0 0 1.734.074 6.95 6.95 0 0 1 .6-.249 1.833 1.833 0 0 0 1.172-1.277l.353-1.45c.026-.111.106-.157.161-.161z"/></svg>')
  }
  .md-typeset .admonition.ide,
  .md-typeset details.ide{
    border-color: rgb(68, 138, 255);
  }
  .md-typeset .ide > .admonition-title,
  .md-typeset .ide > summary {
    background-color: rgba(43, 101, 155, 0.1);
    border-color: rgb(68, 138, 255);
  }
  .md-typeset .ide > .admonition-title::before,
  .md-typeset .ide > summary::before {
    background-color: rgb(68, 138, 255);
     animation: heart 1000ms infinite;
    -webkit-mask-image: var(--md-admonition-icon--ide);
            mask-image: var(--md-admonition-icon--ide);
  
  }

  /*
  Pyodide
  */


  /*classe pour bouton de la macro pyodide (dans main.py)  de Guillaume Connan
  */

.execution {
    background:linear-gradient(to bottom, #7892c2 5%, #354d6b 100%);
    background-color:#7892c2;
    border-radius:28px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}

.execution:hover {
    background:linear-gradient(to bottom, #354d6b 5%, #7892c2 100%);
    background-color:#354d6b;
}

.execution:active {
  position:relative;
  top:1px;
}




textarea {
  background-color:  rgba(0, 0, 0, 0.85);
  color: var(--md-code-fg-color);
  font-weight: bold;
  display: block;
  font-family: var(--md-code-font-family,_),SFMono-Regular,Consolas,Menlo,monospace;
}

textarea#output {
  background-color:  rgba(158, 155, 202, 0.85);
  overflow:auto;
}





/* TEXTAREA AUTO RESIZE STYLES BEGIN */

/* The .hiddendiv styles are added with JS.
 You can remove the JS lines and use CSS instead*/
.hiddendiv {
display: none;
white-space: pre-wrap;
word-wrap: break-word;
}

/* the styles for 'txta' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
.txta {
width: 100%;
max-width: 600px;
min-height: 100px;
/*font-family: Arial, sans-serif;
font-size: 16px;*/
overflow: hidden;
line-height: 1.4;
}
/* TEXTAREA AUTO RESIZE STYLES END */
